.div_cards_detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  margin-top: 2rem;
  margin-left: 18rem;
  margin-right: 18rem;
  justify-content: space-between;
  background-image: linear-gradient(135deg, black, blue, red, red, blue, black);
  border-radius: 7px;
}

.card_title {
  color: white;
  margin-bottom: 1rem;
  font-size: larger;
  font-weight: bolder;
}

.card_description {
  color: white;
  margin-top: 1rem;
  font-size: large;
}

.div_cards .div_img {
  width: 8rem;
}
