.cart_div {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.cart_div_number {
  color: azure;
}

.cart_div ul {
  display: flex;
}

.cart_div ul li {
  color: red;
  display: flex;
  margin-right: 3rem;
}

img {
  width: 7.5rem;
  border-radius: 5px;
}
