.cart_div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 0.3rem;
  background-color: black;
  align-items: center;
}

.cart_div_number {
  color: azure;
}

img {
  width: 7.5rem;
  border-radius: 5px;
}

a.link_button {
  padding: 0.5rem;
  color: white;
  text-decoration: none;
  background-image: linear-gradient(45deg, blue, red, red, red, red, blue);
  margin-left: 1rem;
  font-size: larger;
  font-weight: bolder;
  border-radius: 7px;
}

a.link_button:hover {
  color: yellow;
}
