.div_cart_detail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div_cart_buttons {
  color: white;
  align-items: center;
  border-radius: 10px;
}

.div_cart_tags {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  margin-top: 1rem;
}

.div_cart_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  border-radius: 10px;
}

.div_cart_unit {
  background-image: linear-gradient(135deg, black, blue, red, red, blue, black);
  border-radius: 10px;
  padding-top: 1px;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1rem;
}

.cart_img {
  width: 5rem;
}

.total_display {
  background-image: linear-gradient(45deg, blue, red, red, red, blue);
  border-radius: 10px;
  padding: 0.5rem;
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
}

.cart_buttons {
  padding: 0.5rem;
  font-family: "Braah One", sans-serif;
  background-image: linear-gradient(45deg, blue, red, red, red, blue);
  border-radius: 10px;
  color: white;
  margin-top: 0.5rem;
  font-size: medium;
}

.cart_buttons:hover {
  color: yellow;
}

.cart_remove {
  padding: 0.3rem;
  font-family: "Braah One", sans-serif;
  background-image: linear-gradient(45deg, blue, red, red, red, blue);
  border-radius: 10px;
  color: white;
  margin-top: 0.5rem;
  font-size: small;
  margin-top: 0.7rem;
}

.cart_remove:hover {
  color: yellow;
}
